body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f3ef;
    color: white;
    text-align: center;
    font-family: 'Ephesis', cursive;
    position: relative;
    touch-action: none;
}

.kolam-container {
    position: relative;
    width: 80vw;
    height: 60vh;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
}

.dot:hover {
    transform: scale(1.5);
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 5;
    touch-action: none;
}

.toggle-draw-button, .language-toggle {
    padding: 10px 15px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin: 5px;
    transition: 0.3s ease-in-out;
}

.toggle-draw-button:hover, .language-toggle:hover {
    background: #f5c242;
}
